.project{
    width: 100%;
    
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding-top: 100px;
    font-size: 20px;
    color: rgb(204, 204, 204);
    padding-bottom: 150px;
    background-image: url(../snake2.0.png);
    background-repeat: no-repeat;
    background-position:top center;
    background-size: contain;
}

.project .projectH4{
    font-size: 35px;
    font-weight: 600;
    color: white;
}
.project .projectP1{
    width: 90%;
    text-align: center;
}

.project .ProjectVideoTypeBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    
    justify-content: center;
    align-items: center; */
    width: 70%;
    gap: 10px;
    /* padding: 0px; */
    
    /* color: white; */
}

.project .ProjectVideoTypeBtn button{
    color: rgb(129, 129, 129);
    background-color: #9b05ff50;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    transition: all 0.3s ease;
}
 
.ProjectVideoTypeBtn button:hover{
    cursor: pointer;
    background-color: #9305f187;
    color: white;
    box-shadow:inset 0px 0px 5px white;
}

.project .ProjectVideoTypeBtn .currentCatagerybutton{
    background:linear-gradient(to top left, rgb(205, 191, 83), #8D1FD4);
    color: white;
}

.projectVideoBox{
    width: 90%;
    padding: 10px;
    /* background-color: rgb(231, 231, 7); */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* grid-template-rows: auto; */
    justify-content: center;
    gap: 30px;
    align-items: center;
    /* align-content: center; */
    /* flex-wrap: wrap; */
    box-sizing: border-box;
    margin-top: 20px;

}

.videoCon{
    width: auto;
    /* background-color: #8D1FD4; */
}

.videoTumbnail{
    /* background-image: url(../project-page-video-Thumbnail.png); */
    width: 100%;
    aspect-ratio: 9/ 16;
    /* min-height: 300px; */
    border-radius: 20px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    box-sizing: border-box;
    /* box-shadow: inset 0px 0px 30px black; */
}


.videoCon:hover .videoTumbnail{
    border: 2px solid #8D1FD4;
    box-shadow: inset 0px 0px 30px #8D1FD4;
}

.videoCon:hover .playButton{
    opacity: 1;
}



.playButton{
    /* position: absolute; */
    /* left: 0%; */
    opacity: 0;
    /* top: -50%; */
    width: fit-content;
    height: fit-content;
    font-size: 60px;
    background-color: transparent;
    
    z-index: 1;
    border: none;
    display: flex;
    justify-content: center;
     align-items: center;
}

.playButton div{
    background-color: white;
    color: #8D1FD4;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    border-radius: 50%;
}


/* show  video */


.project .showVideoF{
    width: 100%;
    height: 100vh;
    position: fixed;
    
    background-color: black;
    top: 0px;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 100px #8c1fd496;
    border: 0px;
    padding: 0px;
    overflow: hidden;
    background-image: url(../bgImg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* display: none; */
    
}

.project .showVideoF .videoSec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    max-height: 80%;
    max-width: 90%;
    position: relative;
}

.project .showVideoF .videoSec video{
    max-height: 100%;
    max-width: 100%;
    border: none;
    box-shadow: 0px 0px 20px white;
    border-radius: 20px;
    position: relative;
    transform: scale(1);
    transition: all 0.5s ease;
    pointer-events: none;
}



.project .showVideoF .videoSec .videoControls{
    position: absolute;
    bottom: 10px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.397);
    background-color: rgba(0, 0, 0, 0.753);
    opacity: 0;
    gap: 4px;
    transition: opacity 0.3s ease;
    /* box-shadow: inset 0px 0px 2px black; */
}

.project .showVideoF .videoSec:hover .videoControls{
    opacity: 1;
}

.project .showVideoF .videoSec .videoControls .progressBar {
  width: 100%;
  height: 5px;
  background: white;
  cursor: pointer;
}

.project .showVideoF .videoSec .videoControls .progressFill {
  height: 100%;
  background: #8D1FD4;
  width: 0%;
  transition: width 0.1s linear;
}

.showVideoF .videoSec .videoControls button{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: transparent;
    padding: 5px;
    border: none;
}

/* hide video */
.hidevideoF{
    display: none;
}





@media (max-width:768px){
    .ShowVideoF video{
         width: auto;
        height: 70%;
    }
/* projectVideoBox  videoCon  proVideo */
    .projectVideoBox{
        grid-template-columns: repeat(2,1fr);
    }
    .videoCon .videoTumbnail {
        width: auto;
        /* height: 100%; */
    }

    .playButton{
        font-size: 40px;
    }

     .videoCon {
        width: auto;
        /* height:30vh; */
    }


    .project .ProjectVideoTypeBtn{
        width: 90%;
        /* background-color: #8D1FD4; */
    }

}