.project{
    width: 100%;
    
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding-top: 100px;
    font-size: 20px;
    color: rgb(204, 204, 204);
    padding-bottom: 150px;
    background-image: url(../snake2.0.png);
    background-repeat: no-repeat;
    background-position:top center;
    background-size: contain;
}

.project .projectH4{
    font-size: 35px;
    font-weight: 600;
    color: white;
}
.project .projectP1{
    width: 90%;
    text-align: center;
}

.project .ProjectVideoTypeBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    
    justify-content: center;
    align-items: center; */
    width: 70%;
    gap: 10px;
    /* padding: 0px; */
    
    /* color: white; */
}

.project .ProjectVideoTypeBtn button{
    color: rgb(129, 129, 129);
    background-color: #9b05ff50;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    transition: all 0.3s ease;
}
 
.ProjectVideoTypeBtn button:hover{
    cursor: pointer;
    background-color: #9305f187;
    color: white;
    box-shadow:inset 0px 0px 5px white;
}

.project .ProjectVideoTypeBtn .currentCatagerybutton{
    background:linear-gradient(to top left, rgb(205, 191, 83), #8D1FD4);
    color: white;
}

.projectVideoBox{
    width: 90%;
    padding: 10px;
    /* background-color: rgb(231, 231, 7); */
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.videoCon{
    /* width: 30%; */
    height: 50vh;
    /* background-color: #8D1FD4; */
}

.proVideo{
    
    width: auto;
    height: 50vh;
    border-radius: 10px;
    border: 3px solid #8c1fd400;
}


.videoCon:hover .proVideo{
    border: 3px solid #8D1FD4;
}

.videoCon:hover .playButton{
    opacity: 1;
}



.playButton{
    position: relative;
    left: 0%;
    opacity: 0;
    top: -50%;
    width: 100%;
    height: 0%;
    font-size: 40px;
    background-color: rgba(62, 6, 62, 0.985);
    
    z-index: 1;
    border: none;
    display: flex;
    justify-content: center;
     align-items: center;
}

.playButton div{
    background-color: white;
    color: #8D1FD4;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    border-radius: 50%;
}


.hidevideoF{
    opacity: 0;
    position: fixed;
    top: 0px;
    z-index: -4;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0); 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-image: url(../bgImg.png);
    background-size: cover;
}




.hidevideoF video{
    opacity: 1;
    /* position: relative; */
    top: 20px;
    /* right: 20px; */
    left: -20px;
    width: auto;
    height: 80%;
    border: 2px solid white;
    display: flex;justify-content: center;
    align-items: center;
    object-fit: contain;
    border-radius: 10px;
    z-index: -3;
    transform: scale(0.5);
    /* transition: all 4s ease-in-out; */
    /* transform: translate(-50%,10%); */
}



.proVideo::-webkit-media-controls-timeline {
  display: none;
}

.ShowVideoF video::-webkit-media-controls-fullscreen-button {
  display: none;
}

.hidevideoF video::-webkit-media-controls {
    display: none !important;
}



.ShowVideoF{
    opacity: 1;
      position: fixed;
    top: 0px;
    z-index: 4;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.955); 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-image: url(../bgImg.png);
    background-size: contain;
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    overflow:hidden ;
}



.ShowVideoF video{
    opacity: 1;
      /* top: 20px; */
    /* right: 20px; */
    /* left: -20px; */
    width: auto;
    height: 80%;
    border: 2px solid black;
    box-shadow: 0px 0px 20px #8D1FD4;
    /* display: flex;justify-content: center; */
    /* align-items: center; */
    object-fit: contain;
    border-radius: 20px;
    z-index: 3;
    transition: all 0.5s ease-in;
    /* transform: translate(0); */
}



@media (max-width:768px){
    .ShowVideoF video{
         width: auto;
        height: 70%;
    }
/* projectVideoBox  videoCon  proVideo */
    .videoCon .proVideo {
        width: auto;
        height: 100%;
    }

    

     .videoCon {
        width: auto;
        height:30vh;
    }


    .project .ProjectVideoTypeBtn{
        width: 90%;
    }

}