.about{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: antiquewhite; */
}


.Abouthome{
    background-image: url(../bgImg.png);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    gap: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    /* overflow: hidden; */
}

.ahomeLeft{
    width: 45%;
    /* background-color: aqua; */
    /* height: 90%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 30px;
    padding-left: 3%;
    padding-top: 4%;
}

.Abouthome h3{
    font-size: 25px;
}

.aLeftH1{
    font-size:40px;
    font-weight:900;
}

.aleftSimpleP{
    font-size: 17px;
    /* font-weight: 10px; */
    color: rgb(189, 189, 189);
    /* background-color: #8D1FD4; */
}

.aleftBtnD{
    /* color: #8D1FD4 */
    /* width: 80%; */
    /* background-color: #cd8c0a; */
    gap: 30px;
    display: flex;

}

.aleftBtnD button{

    text-align: center;
    /* border: 0px ; */
    padding: 10px;
    border-radius: 100px;
    height: 45px;
    width: 150px;
    font-weight: 500;
    font-size: 16px;
}

.aleftBtn1{
    background-color: #8D1FD4;
    color: white;
    border: 0px;
    transition: all 0.7 ease-in-out;
}

.aleftBtn1:hover{
    cursor: pointer;
    color: #8D1FD4;
    background-color: white;
    border: 3px solid #8D1FD4;
}

.aLeftBtn2{
    background-color: black;
    color: white;
    border: 3px solid white;
    transition: all 0.5s ease-in-out;
}

.aLeftBtn2:hover{
    background-color: white;
    color: #8D1FD4;
    cursor: pointer;
    border: 3px solid #8D1FD4;
}

.ahomeRight{
    
    width: 40%;
    height: auto;
    /* background-color: rgb(131, 26, 26); */
    display: flex;
    justify-content: start;
    align-items: center;
}

.arightVideo{
    /* background-color: rgba(58, 58, 58, 0.856); */
    /* border: 1px solid #8D1FD4; */
    /* border-radius: 5%; */
    /* padding: 10px; */
    margin: 0px;
    width: 60%;
    height: auto;
    position: relative;

}
.arightVideo video{
    border: 2px solid #f5f2f7;
    /* padding: 10px; */
    width: 90%;
    height: auto;
    object-fit: cover;
    border-radius: 5%;
    flex-shrink: 1;
    /* background-color: black; */
   
 }

 .arightVideo div{
    /* border-left: 2px solid #8D1FD4; */
    border: 2px solid #8D1FD4;
    border-radius: 5%;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
     box-shadow: 2px 2px 10px #8D1FD4;
 }

 .ahomeRight .arightBox{
    background-color: rgba(0, 0, 0, 0.677);
    position: relative;
    width: 30%;
    /* text-align: center; */
    z-index: 1;
    right: 10%;
    top: -20%;
    display: flex;
    flex-direction: column;
    gap:3px ;
    padding: 10px;
    /* width: 140px; */
    border-radius: 5%;
    font-size: 15px;
 }
 .arightBox1{
    background-color: rgb(37, 32, 32);
    display: flex;
    gap: 2px;
    padding-left: 10px;
    height: 3vw;
    border-radius: 10px;
    justify-content: start;
    align-items: center;
    width: 90%;
    margin-right: 5px;
 }

.Abouthome .tranImg{
    position: absolute;
    width: 70%;
    height: 20vh;
    /* background-color: #8D1FD4; */
    background-image: url(../boxIcons.png);
    background-size: contain;
    background-repeat:  no-repeat;
    right: -35%;
    bottom: 5%;
    z-index: 1;
    flex-shrink: 0;
    /* background-color: #8D1FD4; */
    border: none;
    box-shadow: none;

}

.Abouthome .tranImg1{
    position: absolute;
    width: 30%;
    height: 8vh;
    /* background-color: #8D1FD4; */
    background-image: url(../rayzmeddiaLogo.png);
    background-size: contain;
    background-repeat:  no-repeat;
    left: -30%;
    top: 5%;
    z-index: 1;
    flex-shrink: 0;
    /* background-color: #8D1FD4; */
    border: none;
    box-shadow: none;

}






/* we help video editor */

 .about .helpEditors{
    margin-top: 150px;
    margin-bottom: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    color: rgb(168, 168, 168);
    gap: 30px;
 }

 .about .helpEditors h4{
    color: white;
    font-size: 30px;
    padding-bottom: 20px;
 }

 .about .helpEditors h5{
    color: white;
    font-size: 19px;
 }
 .about .helpEditors .helpBox{
    /* width: 50%; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: #8D1FD4; */
    align-items: start;
    border: 2px solid rgba(255, 255, 255, 0.46);
    padding: 20px;
    /* min-width: 30vw; */
    gap: 10px;
    border-radius: 20px;
 }


 .about .helpEditors .helpBox div{
    font-size: 35px;
    color: #8D1FD4;
    padding: 5px;
    display: flex;
    justify-content: center;align-items: center;
    background-color: rgba(146, 146, 146, 0.478);
    border-radius: 10px;
 }

 .about .helpEditors  .helpBoxSec{
    width: 90%;
    display: flex;
    /* background-color: #8D1FD4; */
    /* flex-wrap: wrap; */
    gap: 20px;
 }




/* boxx1 */

.about .ChoseBox1{
    width: 90%;
    height: auto;
    /* border: 1px solid white; */
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    font-size: 17px;
    color: rgb(195, 195, 195);
    text-align: start;
    padding-top: 30px;
    margin-bottom: 50px;
}
.about .ChoseBox1 .rightSec{
    /* background-color: #8D1FD4; */
    min-width: 60%;
    /* height: 100%; */
    background-image: url(../aboutBoximg.png);
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px;
}
.about .ChoseBox1 .leftSec{
    width: 40%;
    /* border-right: 2px solid white; */
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 15px;
}

.about .ChoseBox1 .leftSec h5{
    color: white;
    font-size: 30px;
    padding-bottom: 5px;
}

.about .ChoseBox1 .leftSec div{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.about .ChoseBox1 .leftSec div div{
    background-color: #8D1FD4;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* padding: 1px; */
}

.eEditsPha{
    width: 80%;
    background-color:#3e026896 ;
    padding: 15px 20px;
    border-radius: 20px;
    font-size: 19px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    color: #8D1FD4;
}



/* Why Choose EarnEdits? */

.earnEidts{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid #8D1FD4; */
    /* background-color: #c577f8; */
    padding-bottom: 150px;
    padding-top: 100px;
    height: auto;
    /* background-color: #cba2e8; */
}

.earnEidts .eEdits{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 90%;

}

.eEdits .eEditsH4{
    font-size: 30px;
    font-weight: 600;
    padding: 10px;
}

.eEdits .eEditsP1{
    font-size: 20px;
    text-align: center;
    color: rgb(170, 169, 169);
}

.eEdits .eEditsBox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 100%;
    flex-wrap: wrap;
    padding: 10px;

}

.eEditsBox .boxItem{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    /* width: 35%;
    height: 40vh; */
    min-width: 250px;
    max-width: 350px;
    min-height: 270px;
    flex: 1 1 10%;
    /* background-color: #8D1FD4; */
    border: 2px solid #8D1FD4;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-radius: 20px;
    position: relative; /* IMPORTANT */
    z-index: 1;
}

.eEditsBox .boxItem::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5); /* control opacity here */
    border-radius: 20px;
    z-index: -1;
}

 .boxItem.boxImga{
    background-image: url(../img-g-1.png);
    
}
 .boxItem.boxImgb{
    background-image: url(../img-g-2.png);
    
}
 .boxItem.boxImgc{
    background-image: url(../img-g-3.png);
    
}
 .boxItem.boxImgd{
    background-image: url(../why-image-4.webp);
    
}

 .boxItemDiv{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.648);
    transition: all 1s ease;
    
    transform: translateY(40%);
    /* border-radius: 20px; */
 }

.boxItem h6{
    width: 100%;
    font-size: 20px;
    font-weight: 100;
    transform: translateX(20%);
    /* padding-bottom: 15px; */
    transition: all 0.7s ease;
}
.boxItem:hover  h6{
    transform: translateX(0);
}


.boxItem p{
    color: rgb(173, 171, 171);
    transition: all 0.5s ease ;
    opacity: 0;
    
}

.boxItem:hover .boxItemDiv p{
    opacity: 1;
}

.boxItem:hover .boxItemDiv{
    transform: translateY(0%);
    
}





  @media (max-width:768px) {
    



    .Abouthome{
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: start;
         align-items: center;
        height: auto;
        width: auto;
        gap: 0px;
        /* border-bottom: 2px solid wheat;
        border-right: 2px solid wheat; */
        
    }

    .ahomeLeft{
    width: 95%;
    padding-left: 10px;
    /* background-color: rgb(86, 101, 101); */
    /* height: 90%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 30px;
    } 
    
    

    .ahomeRight{
    margin-top: 40px;
    width: 90%;
    height: auto;
    /* background-color: rgb(131, 26, 26); */
    display: flex;
    justify-content: center;
    align-items: center;
    }

     .ahomeRight .arightBox{
        position: relative;
        width: auto;
         /* height: 25%; */
    }

    .arightBox1{
    background-color: rgb(37, 32, 32);
    display: flex;
    gap: 4px;
    padding-left: 10px;
    height: 3vh;
    border-radius: 10px;
    justify-content: start;
    align-items: center;
    width: 90%;
    margin-right: 5px;
 }


    .about .ChoseBox1{
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding-bottom: 0px;
        /* border-bottom: 2px solid wheat; */
    }

    .about .ChoseBox1 .leftSec{
        width: 100%;
        padding-top: 0px;
        /* padding-bottom: 5vh; */
    }
.about .ChoseBox1 .leftSec h5{
    width: 100%;
    text-align: center;
    padding-bottom: 4vh;
}


    .about .ChoseBox1 .rightSec{
        width: 90%;
        /* background-color: #8D1FD4; */
        background-position:  center;
        
    }




.about .helpEditors  .helpBoxSec{
    flex-wrap: wrap;
}



}