.testimonial{
    width: 100%;
    height: auto;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 50px;
   
    /* border: 2px solid white; */
}

.testiUSec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid white; */
    width:100%;
    gap: 20px;
    overflow: hidden;

    /*  */
 

    

}

@keyframes scrollTesti {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
    

}

.testiUSec .testiUSecH4{
    font-size: 30px;
    font-weight:600;
    width: 90%;
    text-align: center;
}
.testiUSec .testiUSecP1{
    width: 90%;
    text-align: center;
}
.testiBoxSec{
    margin-top: 40px;
    width: 100%;
    /* display:flex ; */
    gap: 6px;
     /* animation: scrollTesti 4s linear infinite; */
     /* background-color: #8D1FD4; */
     overflow: hidden; /*add this*/
     
}

.testiTrack {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    gap: 6px;
    width: max-content;
    animation: scrollTesti 40s linear infinite;
}


.testiTrack:hover{
    animation-play-state: paused;
}

.testiBoxSec .tBox{
    display: flex;
    flex-direction: column;
    /* border: 2px solid white; */
    padding: 20px;
    width: 200px;
    gap: 20px;
    background-color: rgb(32, 32, 32);
    border-radius: 20px;
    border: 2px solid black;
    flex-shrink: 0;
    /* animation: scrollTesti 50s linear infinite; */
}

 .tBox:hover{
    box-shadow: 1px 1px 10px white;
    border: 2px solid #8D1FD4;
    
    
}


.tBox .tboxUpside{
    width:100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    color:yellow;
    font-size: 20px;
}

.tBox .tboxDownSide{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    border-top: 1px solid white;
    padding-top: 10px;
}
.tBox .tBoxMP{
    color: rgb(167, 167, 167);
}
.tBox .tboxDownSide div{
    background-color: rgb(4, 184, 22);
    color: black;
    border-radius: 50%;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}